<div class="text-center">


  <!--search bar-->
  <br>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 ">
      <h3 class="text-left"> <img src="../../assets/twitter_logo.png" width="3%" height="3%" alt="Responsive image"> Search</h3>
      <div class="input-group input-group-lg">
        <input [(ngModel)] = "query"  name="query" id="name" class="form-control mr-sm-2 rounded-right" type="text" placeholder="Search">
        <button (click)="search()" class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
      <div *ngIf="flag" class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> Please enter something up here.
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <br>
  <!--end search bar-->

  <!--search results table-->
  <br>
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
      <table class="table table-responsive">
        <thead>
        <tr class="m-0">
          <th class="w-25 text-center">Created At</th>
          <th class="w-50 text-center">Text</th>
          <th class="w-25 text-center">User Id</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let res of result" class="m-0">
          <td class="w-25"> {{res._source.created_at}} </td>
          <td class="w-50"> <div [innerHTML]="res._source.text | safeHtml"></div> </td>
          <td class="w-25"> {{res._source.user_id}} </td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <!--end search results table-->

</div>
